name: Todo app e2e tests

on: [push]

jobs:
  run_cypress_tests:
    runs-on: ubuntu-latest
    needs: install_dependencies
    steps:
      - steps:
        - name: Checkout
          uses: actions/checkout@v2

      - name: Run e2e tests
        uses: cypress-io/github-action@v3
        with:
          spec: cypress/e2e/1-getting-started/todo.cy.js